Options -MultiViews -Indexes

DirectoryIndex index.php

RewriteEngine On

# Si la ruta no es un archivo real (como CSS, JS, imágenes), se manda todo a index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [QSA,L]
